<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.cloud.tuikit.flutter.tuichatkit">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application>
        <activity
            android:name="com.tencent.cloud.tuikit.flutter.tuichatkit.videorecorder.view.VideoRecorderBridgeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.cloud.tuikit.flutter.tuichatkit.videorecorder.view.VideoRecorderActivity"
            android:exported="true"
            android:theme="@style/BaseComponent.Theme.FullScreen" />

        <activity
            android:name="com.tencent.cloud.tuikit.flutter.tuichatkit.filepicker.impl.FilePickerBridgeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.cloud.tuikit.flutter.tuichatkit.videoplayer.impl.VideoPlayerActivity"
            android:exported="true"
            android:theme="@style/BaseComponent.Theme.FullScreen" />
    </application>
</manifest>
